{% extends 'docsearch/base.html' %}
{% block tilte %}
    معلومات عن البرنامح
{% endblock %}

{% block body_content %}
    <h1 class="display-4 text-center"> : قدم إليكم هذا التطبيق برعاية البروفيسور</h1>
    <h2 class="display-4 text-center">
        <li class="text-center display-2">
            <a href="#" target="_blank">أحمد قسوم</a>
        </li>
    </h2>
    <hr class="m-y-md">
        <h1 class="display-4 text-center"> :و تلامذته كل من </h1>
        <ul class="navbar-nav text-center">
            <li class="nav-item text-center">
                <a class="nav-link" href="#"> غرسة ل</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" href="#">صاولي ه</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" href="#">بومعد أ</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" href="#"> قرفي ص</a>
            </li>
        </ul>
    <hr class="m-y-md">


{% endblock %}