{% extends 'docsearch/base.html' %}
{%  load static %}
{% block title %}
    إستظهارالملفات و محتوياتها
{% endblock %}
{% block add_css %}
    <link rel="stylesheet" href="{% static 'assets/css/simple-sidebar.css' %}">
{% endblock %}

{% block body_content %}
{% if docs %}

        <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="text-right" >
            <ul class="sidebar-nav" style="padding-right: 20px">
                <li class="sidebar-brand">
                    <span class="h2 text-white">
                         : النصوص
                    </span>
                </li>
                {% for d in docs %}
                  <li>
                    <span class="d-inline-block  btn text-right text-truncate py-1 text-white" style="max-width: 200px;" href= "{{ d }}"  onclick='javascript:show_content( "{{ d }}" )'> {{ d }}</span>
                  </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper text-right">
            <div class="container-fluid ">
                <h1 class="document_header display-4 text-right px-lg-4 px-5" >إستظهارالملفات و محتوياتها</h1>
                <hr class="m-y-md">
                <p class="doc_paragraph text-right text-justify" id="paragraph" style="white-space: pre-line">

                    <!--     the text of the document will show here      -->
                </p>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endif %}
{% endblock %}

{%  block new_script %}
    <script>
        function show_content(f){
            //$('#paragraph').load(f);
            $.get(f, function(data){
                $("#paragraph").text(data);
            });
        }

    </script>

{% endblock %}