body{
    font-family: 'Amiri';
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

.navbar{
    padding: 0px 50px;
    background-color: #1abc9c;
}
.nav-item, .navbar-brand{
    padding-top: auto;
    margin: 0;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #28a745;
}


.active{
    background-color: #28a745;
}

.display-3{
    font-size: 2.8125rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
