{% extends 'docsearch/base.html' %}
{%  load static %}
{% block title %}
    documents
{% endblock %}

{% block body_content %}
{% if docs %}
    <div class="jumbotron py-2">
        <h1 class="display-3">Afficher les documents avec des statistiques</h1>
        <p class="lead"></p>
        <hr class="m-y-md">


          {% for d in docs %}
          <li>
            <a class="btn btn-outline-info btn-lg" href= "{{ d }}" > {{ d }}</a>
          </li>
      {% endfor %}
    </div>


{% endif %}
{% endblock %}

